<!-- <HTML>
	<BODY bgcolor="cyan">
			<center>
			<form method="POST" action="">
					<H1>Edit recipe.</H1> <br>
					Title <input type = "text" name= "title" /> <br>
					Cooking Method <input type = "text" name= "cooking_method" /> <br>
					Cuisine <input type = "text" name= "cuisine" /> <br>
					Prep Time <input type = "text" name= "prep_time" /> <br>
					Serves <input type = "text" name= "serves" /> <br>
					<input type = "submit">   
			</form>
			{% if error == -1 %}
				Recipe Edit Unsuccessful.
			{% endif %}
			{% if error == 1 %}
				Recipe Edit Successful.
			{% endif %}
			<form method = "POST" action="home">
					<button class="">Return Home</button>
			</form>
	</center>
	</BODY>
</HTML> -->