<HTML>
    <BODY bgcolor="cyan">
    <center>
        <form method="POST" action="">
            <H1>Input a User to Update</H1> <br>
            Current Password <input type = "password" name= "oldpw" /> <br>
            New Password <input type = "password" name = "newpw" /> <br>
            <input type = "submit">
        </form>
				{% if error == -1 %}
					Password Change Unsuccessful - current password is incorrect.
				{% endif %}
				{% if error == 1 %}
					Password Change Successful.
				{% endif %}
        <form action="home">
            <button class="">Return Home</button>
        </form>
    </center>
    </BODY>
    </HTML>